{% extends "layout.jinja2" %}
{% block content %}
<div class="py-5 d-block d-sm-flex">
    <div class="flex-shrink-0 p-3 pt-0 stage-area">
        <ul id="display" class="nav nav-pills flex-column mb-auto"></ul>
    </div>
    <div class="content-area">
        <h1>{{ word.word }}</h1>
        <p class="lead">{{ word.author|get_user_block|safe }}</p>

        <div class="py-5">
            {{ word.meaning|safe }}
        </div>

        <ul class="m-0 p-0 pb-3">
            <li><b>작성일:</b> {{ word.created_at }}</li>
            {% if word.updated_at is not none %}
                <li><b>수정일:</b> {{ word.updated_at }}</li>
            {% endif %}
        </ul>

        <div class="d-flex gap-2 mb-4">
            <a class="btn btn-primary btn-lg w-50" href="{{ url_for('word.manage', word_id=word.id) }}">수정</a>
            <a class="btn btn-danger btn-lg w-50" href="{{ url_for('word.delete', word_id=word.id) }}">삭제</a>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='category/render.js') }}"></script>
{% if word.category is not none %}
    <script src="{{ url_for('static', filename='category/open.js') }}"></script>
    <script>searchCategory({{ word.category }})</script>
{% endif %}
{% endblock %}